body {
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.container {
    width: 60%;
    margin: auto;
    text-align: center;
    padding: 30px;
}

input {
    padding: 10px;
    width: 60%;
}

button {
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
